repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: Sort imports with isort
        args: ["--profile=black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        name: Format code with black
        language_version: python3

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Lint code with flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-import-order
